* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color-header: #013161;
    --bg-color-card: #1B4A76;
    --color-text: #fff;
    --bg-chart: #fff;
    --bg-enumerador: #41B7D3;
}

/* Media Screen */

@media only screen and (max-width: 320px) {
    section {
        display: flex;
        flex-direction: column;
    }
    section .card {
        width: 90%;
    }
}

@media only screen and (min-width: 321px) {
    section {
        display: flex;
        flex-direction: column;
    }
    section .card {
        width: 90%;
    }
}

@media only screen and (min-width: 480px) {
    section {
        display: flex;
        flex-direction: row;
    }
    section .card {
        width: 48%;
    }
}

@media only screen and (min-width: 768px) {
    section {
        display: flex;
        flex-direction: row;
    }
    section .card {
        width: 32%;
    }
}

@media only screen and (min-width: 1200px) {
    section {
        display: flex;
        flex-direction: row;
    }
    section .card {
        width: 24%;
    }
}

header {
    background-color: var(--bg-color-header);
    color: var(--color-text);
    text-align: center;
    padding: 5px;
}

header h5 {
    font-weight: 100;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 24%;
    height: 400px;
    margin: 5px 2px;
    border-radius: 4px;
    background-color: var(--bg-color-card);
}


.header-card {
    color: var(--color-text);
    padding: 10px;
    font-size: 15px;
}

.contentCard {
    display: flex;
    width: 100%;
    color: var(--color-text);
    padding: 7px 10px;
    font-size: 12px;
    justify-content: space-between;
}

.contentCard span {
    background-color: var(--bg-enumerador);
    color: var(--color-text);
    padding: 1px 5px;
}

#donutchart {
    background-color: var(--bg-chart);
    width: 100%;
    height: 100%;
}

